html 
{
  background-color: rgb(121, 163, 202);
} /*Deals with background color*/

body
{
  margin: 0 ,auto,0, auto;
  padding-left: 2%;
  padding-right: 5%;
  padding-top: 80px;
  padding-bottom: 80px;
}

h1
{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: navy;
}

p
{
  /* padding-left: 30px; */
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
}

h2
{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: navy
}

h3
{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: navy
}

h4
{
  font-family: 'Quicksand', sans-serif;
font-size: 20px;
}

address
{
    font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

table
{
  background-color: #navy;
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: 12%;
  margin-right: auto;
}
th
{
  border: 1px solid black;
}


dl
{
  font-family: 'Quicksand', sans-serif;
  padding-left: 215px;
  padding-right: 100px;
} /* styles the description list */

/* article
{
  padding-left: 30px;
  padding-right: 30px;
} */

mark
{
  background-color: #549ce8;
}
a
{
  color: rgb(121, 163, 202);
}

.sidebar 
{  
  font-family: 'Quicksand', sans-serif;
  height: 50px;
  width: 100%;
overflow-x: hidden;
  position: fixed;
  /* When position absolute is used on an element, it is positioned absolutely with reference to the closest parent that has a position relative value */

  left: 0;
  top: 0;
  padding-top: 40px;
  padding-left: 2%;
  padding-right: 40px;
  background-color: #00308F;
  transition: 0.5s
} /* used for the sidebars format and placement */

.sidebar div 
{
  padding: 8px 8px 8px 32px;
  font-size: 24px;
  display: inline;
  color: rgb(121, 163, 202);
} /* sidebar's actual appearance */

@media screen and (max-height: 450px) 
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.center 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} /* center align property */

.resize 
{
  width: 200px;
  height: auto;
}

.resize2
{
  padding-left: 200px;
  width: 1000px;
  height: 1000px;
  box-shadow: 10px 10px 5px grey;
}

.form
{
  padding-left: 215px;
}
.tab {
    display: inline-block;
    margin-left: 120px;
}
.tab2 {
    display: inline-block;
    margin-left: 65px;
}
.tab3 {
    display: inline-block;
    margin-left: 28px;
}
.tab4 {
    display: inline-block;
    margin-left: 110px;
}
#example1 {
  border: 1px solid ;
  
  padding: 10px;
  box-shadow: 5px 10px #072664;
}